<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content=''>
    <meta name='author' content=''>
    <title>ReportUnit TestRunner Report</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://cdn.rawgit.com/reportunit/reportunit/005dcf934c5a53e60b9ec88a2a118930b433c453/cdn/reportunit.css' type='text/css' rel='stylesheet' />

</head>
<body class='summary'>
    <div class='header'>
        <nav>
            <ul id='slide-out' class='side-nav fixed'>
                @Model.SideNavLinks
            </ul>

            <span class='file-name'>Executive Summary</span>

            <ul class='left'>
                <li class='logo'>
                    <a href='/results'><span>← To Results</span></a>
                </li>
            </ul>

            <div class='right hide-on-med-and-down nav-right'>
                <!-- <div class='nav-item'>
                    <a class='modal-trigger waves-effect waves-light console-logs-icon tooltipped' data-position='bottom' data-tooltip='Console Logs' href='#modal2'><i class='mdi-action-assignment'></i></a>
                </div> -->
                <div class='nav-item'>
                    v1.50.0
                </div>
            </div>
        </nav>
    </div>
    <div class='main'>
        <div class='main-wrap'>
            <div class='row'>
                <div class='col s12'>
                    <div class='card-panel report-list no-margin-v'>
                        <table class='table bordered'>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fixture</th>
                                    <th>Test</th>
                                    @for(int j = 1; j<=Model.ReportList.Count; j++)
                                    {
                                        <th>Phase @j</th>
                                    }
                                </tr>
                            </thead>
                            @{ var i = 1; }
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><b>Success Rate:</b></td>
                                    <td></td>
                                    @foreach(var report in Model.ReportList)
                                    {
                                        <td>@report.SuccessRate.ToString("0.#")%</td>
                                    }
                                </tr>
                                @foreach (var testInfo in Model.TestInfo) {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@testInfo.Fixture</td>

                                        <td class='test-name'>
                                            @if (!String.IsNullOrEmpty(@testInfo.Description))
                                            {
                                                <a class='details-container showDescription name' href='#'>@testInfo.Name</a>
                                                <p class='hide description'>@testInfo.Description</p>
                                            }
                                            else
                                            {
                                                <span class='name'>@testInfo.Name</span>
                                            }
                                        </td>

                                        @foreach (var status in testInfo.Statuses)
                                        {
                                            <td class='test-status @status.Status.ToLower()'>
                                                <span class='label @status.Status.ToLower()'>@status.Status</span>

                                                @if (!String.IsNullOrEmpty(status.Message))
                                                {
                                                    <div class='badge showStatusMessage error'><i class='mdi-alert-warning'></i></div>
                                                    <pre class='hide statusMsg'>@status.Message</pre>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }

                                @*<tr>
                                    <td><span class='weight-normal'>Totals</span></td>
                                    <td>-</td>
                                    <td id='total-tests'>@Model.ReportList.SelectMany(x => x.TestSuiteList).SelectMany(x => x.TestList).Count()</td>
                                    <td>-</td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='modal2' class='modal'>
        <div class='modal-content'>
            <h4>Console Log</h4>
        </div>
        <div class='modal-footer'>
            <a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat'>Close</a>
        </div>
    </div>
    <div id='dynamicModal' class='modal'>
        <div class='modal-content'>
            <h4></h4>
            <pre></pre>
        </div>
        <div class='modal-footer'>
            <a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat'>Close</a>
        </div>
    </div>
</body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script src='/js/reportunit.js' type='text/javascript'></script>

</html>